body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;


}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 900;
}

.colored-section {
    background-color: #065b7d;
    color: #fff;
    margin-left: 15rem;
}

.white-section {
    background-color: #fff;
    color: #112B3C;
    margin-left: 15rem;
}

.navbar {
    height: 100vh;
    background-color: #065b7d;
    width: 15rem;
    display: grid;
    grid-template-rows: 4rem 1fr;
    justify-items: start;
    align-items: flex-start;

    & .navbar-brand {
        font-family: 'Ubuntu', sans-serif;
        font-size: 2rem;
        font-weight: 400;
        padding-left: 2rem;
        padding-bottom: 3rem;
    }

    & .navbar-nav {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        justify-items: start;
        padding-top: 1rem;
        padding-left: 1rem;

        & .nav-item {
            padding: 0 1rem;
            background-color: #065b7d;

            & .nav-link {
                font-family: 'Montserrat', sans-serif;
                font-weight: 200;
                font-size: 1.2rem;
            }
        }
    }
}

#slider {
    background-color: #000000;
    color: #fff;
    padding-top: 2rem;

    & .carousel-item {
        padding: 8% 16%;

        & .slider-text {
            font-size: 3rem;
            line-height: 1.5;
        }

        & .slider-img img {
            width: 75%;
            min-width: 300px;
            height: auto;
            padding-bottom: 1rem;
        }
    }
}

#titles {
    padding: 8% 10%;

    & img {
        width: 100%;
        min-width: 200px;
        height: auto;
        padding-bottom: 1rem;
    }
}

#pillars {
    padding: 5% 0.5rem;

    & .row {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        grid-auto-flow: row;
        width: 100%;
        margin: 0rem;

        & .element {
            width: auto;
            padding-top: 2rem;
        }

        & i {
            &:hover {
                color: #112B3C;
            }
        }
    }
}

#footer {
    padding: 8% 16%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/footer.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    & .footerimg{

    
        & .social-icon {
            padding: 1rem 1rem;
            color: white;

            &:hover {
                color: #0AA1DD;
            }
        }

        & .footer-text {
            color: white;
        }
    }
}

@media (max-width:700px){
    .container-fluid {
        min-width: 32rem;
        & .navbar {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            align-items: center;
            height: 8.5rem;
            width: 100%;
            padding-bottom: 0rem;
            & .brand {
                display: grid;
                grid-template-columns: 1fr;
                width: 100%;
                & .navbar-brand {
                    padding-bottom: 0rem;
                }
            }
            & .navbar-nav {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: unset;
                padding-top: 0rem;
                width: 100%;
                & .nav-item {
                    padding: 0rem 1rem;
                }
            }
        }
    }
    .colored-section {
        margin-left: 0rem;
    }

    .white-section {
        margin-left: 0rem;
    }
    .carousel {
        padding-top: 8rem;
        & .carousel-item{
            & h2 {
                font-size: 2rem;
            }
            & p {
                text-align: justify;
            }
        }
    }
    .electric{
        & h1{
            font-size: 2rem;
        }
        & p{
            text-align: justify;
        }
    }
    .row {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: unset;
        & element {
            width: 25rem;
            & p {
                text-align: justify;
            }
        }
    }
}